@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap');

// Custom variables
:root {
  // colors
  --cd-color-info: hsl(0, 0%, 82%);        // Light Gray for info (18% gray)
  --cd-color-individual-rehersal: hsl(300, 100%, 94%);   // Very light pink for individual rehearsal
  --cd-color-rehersal: hsl(303, 100%, 86%);     // Light pink for rehearsal
  --cd-color-soundcheck: hsl(301, 44%, 67%);   // Light purple for soundcheck
  --cd-color-event: hsl(300, 100%, 50%);        // Magenta for events
  --cd-color-text: hsl(0, 0%, 0%);         // Black
  --cd-color-border: hsl(0, 0%, 92%);       // Grey

  // font
  --font-primary: 'IBM Plex Mono', monospace;

  //schedule template
  --schedule-rows-number: 19;
  --schedule-rows-height: 50px;
}

// Base styles
body {
  font-family: var(--font-primary);
  color: var(--cd-color-text);
  margin: 0;
  padding: 0;
}

// Event colors
.cd-schedule__event [data-event="info"] {
  background: var(--cd-color-info);
}

.cd-schedule__event [data-event="individual-rehersal"] {
  background: var(--cd-color-individual-rehersal);
}

.cd-schedule__event [data-event="rehersal"] {
  background: var(--cd-color-rehersal);
}

.cd-schedule__event [data-event="soundcheck"] {
  background: var(--cd-color-soundcheck);
}

.cd-schedule__event [data-event="event"] {
  background: var(--cd-color-event);
}

// Basic responsive styles
@media (min-width: 768px) {
  .cd-schedule__event {
    position: absolute;
    z-index: 3;
    width: calc(100% + 2px);
    left: -1px;
  }
}