@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");
:root {
  --cd-color-info: hsl(0, 0%, 82%);
  --cd-color-individual-rehersal: hsl(300, 100%, 94%);
  --cd-color-rehersal: hsl(303, 100%, 86%);
  --cd-color-soundcheck: hsl(301, 44%, 67%);
  --cd-color-event: hsl(300, 100%, 50%);
  --cd-color-text: hsl(0, 0%, 0%);
  --cd-color-border: hsl(0, 0%, 92%);
  --font-primary: 'IBM Plex Mono', monospace;
  --schedule-rows-number: 19;
  --schedule-rows-height: 50px; }

body {
  font-family: var(--font-primary);
  color: var(--cd-color-text);
  margin: 0;
  padding: 0; }

.cd-schedule__event [data-event="info"] {
  background: var(--cd-color-info); }

.cd-schedule__event [data-event="individual-rehersal"] {
  background: var(--cd-color-individual-rehersal); }

.cd-schedule__event [data-event="rehersal"] {
  background: var(--cd-color-rehersal); }

.cd-schedule__event [data-event="soundcheck"] {
  background: var(--cd-color-soundcheck); }

.cd-schedule__event [data-event="event"] {
  background: var(--cd-color-event); }

@media (min-width: 768px) {
  .cd-schedule__event {
    position: absolute;
    z-index: 3;
    width: calc(100% + 2px);
    left: -1px; } }
